<!doctype html>
<html lang="en">
@{
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <link rel="stylesheet" href="~/css/style.min.css">

    <title>@ViewBag.Title</title>

    @if (Model is Piranha.Models.IMeta)
    {
        <partial name="Partial/_Meta.cshtml"/>
    }

    @RenderSection("head", required: false)
</head>
<body>
<header class="site-header @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "")">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <partial name="Partial/_Menu.cshtml"/>
            </div>
        </div>
    </div>
</header>

@RenderBody()

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

@RenderSection("script", required: false)
</body>
</html>