@using global::NidamTech.PiranhaSites.Web.Models.Regions.SiteRegions
@using global::NidamTech.PiranhaSites.Web.Models.Sites
@{
    var sitemap = WebApp.Site.Sitemap;
    SiteAppearance siteAppearance = null;
    if (WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result != null)
    {
        siteAppearance = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Appearance;
    }
}
<header class="site-header @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "")">
    <nav class="navbar navbar-expand-sm @(siteAppearance != null && siteAppearance.DarkMode ? "bg-dark navbar-dark" : "bg-light navbar-light") fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src=@(siteAppearance != null && !string.IsNullOrEmpty(siteAppearance.Logo) ? siteAppearance.Logo.Media.PublicUrl : "") alt="brandlogo">
            </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in sitemap)
                    {
                        <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                            <a class="nav-link" href="@item.Permalink">
                                <span>@item.MenuTitle</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <button class="navbar-toggler col-sm-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>