@inject Piranha.IApi Api
@model nidam_corp.Areas.Manager.Models.ThemeListModel
@{
    ViewBag.Title = "Themes";
    ViewBag.Controller = "Theme";
}
@using (var form = Html.BeginForm("Save", "Theme", FormMethod.Post, new {@id = "main-form", @class = "form", @role = "form"}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12 buttons">
            @if (Model.Sites.Count > 1)
            {
                <div id="btn-sitepicker" class="btn-group" style="margin-right: 15px">
                    <button type="button" class="btn btn-labeled btn-default" data-toggle="dropdown">
                        <span class="btn-label">
                            <i class="fas fa-globe"></i>
                        </span>@Model.SiteTitle
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @foreach (var site in Model.Sites)
                        {
                            <li>
                                <a href="@Url.Action("ListSite", new {siteId = site.Id})">@site.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            }
            <button type="submit" class="btn btn-labeled btn-success">
                <span class="btn-label">
                    <i class="fas fa-check"></i>
                </span>
                Save
            </button>
        </div>
    </div>

    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="@ViewBag.MessageCss">
                    @Html.Raw(ViewBag.Message)
                </div>
            </div>
        </div>
    }
}